.column-container {
  margin: 0.5rem;
  border: 1px solid lightgrey;
  /* background-color: #F3F3F3; */
  background-color: var(--column-colour);
  border-radius: 2px;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.column-title {
  padding: 0.5rem;
}

.column-task-list {
  padding: 0.5rem;
  margin: 0.01rem;
  flex-grow: 1;
  min-height: 50px;
}
.column-task-list-highlight {
  background-color: var(--column-highlight-colour);
}
