@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  /* background-color: #F3F3F3; */
  font-family: 'Lato', sans-serif;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;
}